
body{
	background-color: white;
	margin:0;
	padding: 0;
	font-size:0.75em;
	line-height: 1.2em;
	color: #333;
}

#wrap{
	
	text-align:left;
	margin:0;
	margin-left: auto;
	margin-right: auto;
	
	background-image: url(../images/shadow.png);
	background-repeat: repeat-y;
	
}

#logo{
    background-color: rgb(211, 45, 38);
	float: left;;
	
	margin:3px 0 0 0; /*위 부터 시계방향*/	
}

header{
	
	margin: 0;
	padding: 0;	
}

nav#top_menu{
	margin:  0 0 0 0;
	float: right;
}

nav#top_menu ul{
	list-style: none;
	font-family: Verdana,Geneva, sans-serif;
	font-size: 13px;
    color: #333;
    margin: 6px 0 0 0;
}

nav#top_menu ul li{
float: left;
margin: 0 5px;		
}
nav#top_menu a{
    margin:  0 0 0 20px;
	display: block;
	/* padding: 10px; */
	text-decoration: none;
	color: #333;
}

nav#top_menu a:hover{
	/* background-color:  rgb(211, 45, 38); */
	background-repeat: repeat-x;
	background-position: bottom;
}

#login{
	float: right;
	margin: 20px 15px 0 0;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
	word-spacing: 5px;
}

#login a{
	text-decoration: none;
	color: #333;
}

#login a:hover {
	color: #F90;
}

.clear{
	clear:both;
}



#main_img img{
	margin: 9px 0 0 0;
}

#solution{
    background-color: whitesmoke;
    margin: 10px 0 0 0;
    
    
}

#hosting {	
	padding: 10px;
}

#name1{
  margin: 5px 0 5px 0;  
    /* border: 5px solid whitesmoke; */
    
    
}
#switch{
    height: 100px;   
}
footer{
	margin:50px 0 0 0;
	height: 80px;
	background-repeat: no-repeat;
	background-position: 40px center;
}

footer hr{	
	margin: 0 0 0 3px; 	
}

footer #copy{
	font-family:seo;
	margin: 10px 0 0 10px;
    float: left;
    font-size: 10px ;
}


@media screen and (max-width: 600px) {
    .col-l-1 {display: none;}
    .col-l-2 {width: 16.66%;}
    .col-l-3 {width: 25%;}
    .col-l-4 {width: 33.33%;}
    .col-l-5 {width: 41.66%;}
    .col-l-6 {width: 50%;}
    .col-l-7 {width: 58.33%;}
    .col-l-8 {width: 66.66%;}
    .col-l-9 {width: 75%;}
    .col-l-10 {width: 83.33%;}
    .col-l-11 {width: 91.66%;}
    .col-l-12 {width: 100%;}
    .col-l-12-1 {width: 100%;
    height: 10px;}
}
/*2. 600px 이상: tablet*/
@media screen and (min-width: 600px) {
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;
    height: 400px;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
    #col-c{height: 400px;}
    #col-e{height: 250px;}
    #col-f{height: 150px;}

}

/*3. 768px 이상: pc*/
@media screen and (min-width: 768px) {
    .col-k-1 {width: 8.33%;}
    .col-k-2 {width: 16.66%;}
    .col-k-3 {width: 25%;}
    .col-k-4 {width: 33.33%;}
    .col-k-5 {width: 41.66%;}
    .col-k-6 {width: 50%;}
    .col-k-7 {width: 58.33%;}
    .col-k-8 {width: 66.66%;}
    .col-k-9 {width: 75%;}
    .col-k-10 {width: 83.33%;}
    .col-k-11 {width: 91.66%;}
    .col-k-12 {width: 100%;}
    #col-e{height: 133px;}
    #col-f{height: 133px;}
    #col-g{height: 133px;}
}