
body{
	background-color: white;
	margin:0;
	padding: 0;
	font-size:0.75em;
	line-height: 1.2em;
	color: #333;
}

#wrap{
	text-align:left;
	margin:0;
	margin-left: auto;
	margin-right: auto;
}

.clear{
	clear:both;
}

/* 로그인 */
#login{
    text-align: end;
	/*float: right;*/
	margin: 20px 15px 0 0;
	font-family: Arial,Helvetica,sans-serif;
	word-spacing: 5px;
}

#login .b{
	text-decoration: none;
    color: #333;
    /*position: absolute;
    right: 60px;
    bottom: 710;
    font-size: 13.3px;*/
}

.a{
    /*position: absolute;
    right: 44px;
    bottom: 722px;*/
    font-size: 15px;
}

#loginBtn{
    /*position: absolute;
    left: 1462px;
    top: 16px;*/
    
    cursor: pointer;
    background-color: rgba(76, 175, 79, 0);
    color:  #333;
    border: none;
}

#login a:hover ,#loginBtn:hover{
	color: #F90;
}

/* 로고 */
#logo{
    background-color: rgb(211, 45, 38);
	float: left;;
    height: 70px;
    cursor: pointer;
    margin:3px 0 0 0;
    text-align: center;
}

/* 메뉴 */
nav#top_menu{
    float: right;
    height: 70px;
    margin: 3px 0 0 0 ;
}

nav#top_menu ul{
	list-style: none;
	font-family: Verdana,Geneva, sans-serif;
	font-size: 22px;
    color: #333;
    margin: 6px 0 0 0;   
}

nav#top_menu ul li {
    float: left;
    margin: 0 0 0 0;
    width: 25%;
    height: 60px;
}

nav#top_menu a{
    margin: 0 0 0 0px;
	display: block;
    text-decoration: none;
    margin-top: 16px;
    text-align: center;
	color: #333;
}

nav#top_menu a:hover{
	color: tomato;
	background-repeat: repeat-x;
	background-position: bottom;
}

/* 배너 */
#banner {
    position: relative;
    height: 540px;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    cursor: pointer;
}

#banner ul {
    position: absolute;
    margin: 0px;
    padding: 0;
    list-style: none;
}

#banner ul li {
    float: left;
}

#mainimg{  
    height: 553px;
}

/* 최신소프트웨어 */
#solution{
    background-color: white;
    text-decoration: none;
    height: 500px;
    margin: 0 100px 0 65px; 
    
}

#hosting {	
    padding: 10px;
    height: 600px;
}

h3{
    font-size: 30px;
    margin: 30px 0 40px 0;
}

h3 span{
    font-size: 15px;
    color: gray;
    font-weight: 400;
}

#soft1 {
    height: auto;
    float: left; 
}

#soft1 img{
    height: 130;
    box-sizing: border-box;
    border: 3px solid white;
    height: 150px;
    cursor: pointer;
}

#soft1 b{
    box-sizing: border-box;
    border: 2px solid white;
    text-decoration: none;
    font-size: 15px;
    margin: 10px 0 80px 0;
    line-height: 1.4em;
}

#soft1 b span {
    border: 1px solid red;
    font-weight: 600;
    color: red;
    font-size: 10px;
}

#soft1 img, #soft1 b{
    display: block;
    float: none;
}

#soft1 img:hover, #soft1 b:hover{
    opacity: 0.5;
}

/* 다운로드 번호 구입 */
#last img{
    height: 115px;
    
}
#last{
    height: 118px;
    text-align: center;
    background-color: rgb(254, 124, 10);
}

#last_logo{
    background-color: rgb(211, 45, 38);
    cursor: pointer;
}

/* NINTENDO */
#soft2 {
    height: auto;
    float: left;
}

#soft2 img{
    height: 150px;
    margin: 0 0 0 -90px;
    cursor: pointer;
}

#soft2 b {
    font-size: 15px;
    margin: 25px 0 90px 0;
    line-height: 1.1em;
}

#soft2 b span{
    font-weight: 500;
    color: rgb(129, 129, 129);
    font-size: 10px;
    margin: 23px 0 80px 0;
}

#soft2 img, #soft2 b{
    display: block;
    float: none;
}

#soft2 img:hover, #soft2 b:hover{
    opacity: 0.5;
}

#soft3 {
    height: auto;
    float: left;
}

#soft3 img, #soft3 b{
    display: block;
    float: none;
}

#soft3 img{
    height: 150px;
    margin: 0 0 0 -40px;
    cursor: pointer;
}

#soft3 b {
    font-size: 15px;
    margin: 13px 0 80px 0;
    line-height: 1.1em;
}

#soft3 b span{
    font-weight: 500;
    color: rgb(129, 129, 129);
    font-size: 10px;
    margin: 13px 0 80px 0;
}

#soft3 img:hover, #soft3 b:hover{
    opacity: 0.5;
}

/* 스위치광고 */
#switch{
    height: 400px;
    text-align: center;
    background-color: rgb(0, 0, 0);
    
}

#switch img{
    height: 398px;
}

/* 푸터 */
footer{
	margin:2px 0 0 0;
	height: 80px;
	background-repeat: no-repeat;
	background-position: 40px center;
}

footer hr{	
	margin: 0 0 0 3px; 	
}

footer #copy{
	font-family:seo;
	margin: 10px 0 0 10px;
    float: left;
    font-size: 10px ;
}

#sns{
    float: right;
    /* padding: 5px; */
    margin: 0 200px;
}

#sns img{
    padding: 10px;
    cursor: pointer;
}

/*3. 768px 이상: pc*/
@media screen and (min-width: 768px) {
    .col-k-1 {width: 8.33%;}
    .col-k-2 {width: 16.66%;}
    .col-k-3 {width: 25%;}
    .col-k-4 {width: 33.33%;}
    .col-k-5 {width: 41.66%;}
    .col-k-6 {width: 50%;}
    .col-k-7 {width: 58.33%;}
    .col-k-8 {width: 66.66%;}
    .col-k-9 {width: 75%;}
    .col-k-10 {width: 83.33%;}
    .col-k-11 {width: 91.66%;}
    .col-k-12 {width: 100%;}
    #col-e{height: 133px;}
    #col-f{height: 133px;}
    #col-g{height: 133px;}
}